
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* shared style */

/* button */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* main style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.banner-image{
    width: 100%;
    height: 100%;
    margin-bottom: 58px;
}

.banner-contant{
    text-align: center;
    margin-bottom: 50px;
}

.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}

.banner-short-tittle{
    margin-bottom: 32px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
}


/* team section */

.teams{
    align-items: center;
    margin-top: 72px;
    margin-bottom: 130px;
    gap: 73px;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.feature-tittle{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 40px;
}

.of-our{
    color: #131313;
    font-weight: bold;
}

.features{
    color: #FF900E;
    font-weight: bold;
}

.feature-description{
    line-height: 24px;
}

/* feature section  */
.features-section{
    display: flex;
    gap: 146px;
}

#feature-section-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.section-tittle{
    font-size: 2rem;
    color: #131313;
    margin-bottom: 24px;
    margin-top: 0;
}

.featur-tittle-p{
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 1rem;
}

.feature-card{
    padding: 30px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}

.feature-card-tittle{
    font-size: 1.25rem;
    color: #131313;
    margin-bottom: 10px;
    font-weight: 600;
}

.experience-button{
    padding: 45px 42px;
    background-color: #FF900E;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-left: -92px;
    margin-top: -122px;
}

.year-tittle{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}

.experience-tittle{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
}

.feature-right-images img{
    width: 100%;
    height: 91%;
}


/* fact section */
.love-tittle{
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 24px;
}

.fact-container{
    margin-top: 100px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.fact-card{
    display: flex;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.fact-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: -23px;
}

.fact-name{
    font-size: 1.25rem;
    color: #727272;
}

/* sponsor section */
.sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sponsor-images{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 130px;
    filter: grayscale(100%);
}

.sponsorpara{
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
}

/* footer section */
.footers{
    background-color: #FFF4E7;
    padding: 49px 350px;
    margin-bottom: 216px;
}




/* ====== Mobile ====== */

@media screen and (max-width: 320px){
    /* .display-flex{
    flex-direction: column;
} */

.nav-link {
    font-size: 5px;
}

.brand {
    font-size: 10px;
}

.banner-tittle {
    font-size: 2rem;
}

.banner-short-tittle {
    font-size: 10px;
    margin-bottom: 32px;
}

/* team section */
.teams {
    flex-direction: column;
    margin-bottom: 55px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    width: 100%;
}

.team-image-container img{
    width: 100%;
    height: 100%;
}

.feature-tittle {
    font-size: 1.8rem;
    text-align: center;
}

.feature-description {
    text-align: center;
}

.our-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* girl feature section */
.features-section{
   flex-direction: column;
}

.experience-button {
    display: none;
}


/* fact section */

.fact-container {
   width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
}

.fact-card {
    width: 100%;
    margin-bottom: 15px;
}

.love-tittle{
    text-align: center;
}

.text-light-gray {
    text-align: center;
}

/* sponsor */
.sponsor-images {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.sponsor-images img{
    width: 50%;
    margin: auto;
}

.footers {
    background-color: #FFF4E7;
    padding: 18px 26px;
    margin-bottom: 216px;
    font-size: 8px;
}


}

/* ====== Mobile ====== */

@media screen and (min-width: 321px) and (max-width: 576px) {
.nav-link {
    font-size: 5px;
}

.brand {
    font-size: 1rem;
}

.banner-tittle {
    font-size: 2rem;
}

.banner-short-tittle {
    font-size: 10px;
}


/* teams section */
.teams {
    flex-direction: column;
    margin-bottom: 55px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    width: 100%;
}

.team-image-container img{
    width: 100%;
    height: 100%;
}


/* feature section  */
.feature-tittle {
    font-size: 1.8rem;
    text-align: center;
}

.feature-description {
    text-align: center;
}

.our-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* girl feature section */
.features-section{
   flex-direction: column;
}

.experience-button {
    display: none;
}

/* fact section */

.fact-container {
   width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
}

.fact-card {
    width: 100%;
    margin-bottom: 15px;
}

.love-tittle{
    text-align: center;
}

.text-light-gray {
    text-align: center;
}


/* sponsor */
.sponsor-images {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.sponsor-images img{
    width: 50%;
    margin: auto;
}


/* footer section */
.footers {
    background-color: #FFF4E7;
    padding: 18px 26px;
    margin-bottom: 216px;
    font-size: 8px;
}

}

/* ====== Tablet ====== */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .teams {
    flex-direction: column;
}

.fact-card {
    width: 95%;
    margin-bottom: 10px;
}

.fact-container {
    grid-template-columns: repeat(2, 1fr);
}

.sponsor-images {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    filter: grayscale(100%);
    align-content: center;
    justify-items: center;
    gap: 37px;
}

.footers {
    padding: 127px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    width: 100%;
}

.team-image-container img{
    width: 100%;
    height: 100%;
}

}

/* ====== responsive 992px ====== */

@media screen and (min-width: 769px) and (max-width: 992px) {
.teams {
    flex-direction: column;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    width: 100%;
}

.team-image-container img{
    width: 100%;
    height: 100%;
}

.fact-card {
    width: 95%;
}

}

/* ====== responsive Laptop ====== */

@media screen and (min-width: 993px) and (max-width: 1200px) {
.footers {
    padding: 34px 254px;
}
}
